<!DOCTYPE html>
<html>

<head>
    <title>Fast Everglades</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>
        pre {
            overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }

        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }

        .project {
            height: 280px;
            opacity: .99;
        }

        .project-title {
        }

        .project-description {
            text-align: justify;
            flex: 2;
        }

        .project-footer {
            flex: 1;
        }

        .project-hero {
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            position: relative;
            padding: 10px;
            display: flex;
            flex-direction: column;
        }

        .project-hero-background {
            background-size: cover;
            background-position: center;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            opacity: 0.4;
        }
        @media (max-width: 992px) {
            footer {
                margin-left: 0!important;
                margin-right: 0!important;
            }
        }
    </style>
</head>

<body class="w3-content w3-light-grey" style="max-width:100%">

    <nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center"
        style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
        <h3 class="w3-padding-64 w3-center"><b>Fast<br>Everglades</b></h3>
        <a href="javascript:void(0)" onclick="w3_close()"
            class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">PORTFOLIO</a>
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT ME</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    </nav>

    <header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
        <span class="w3-left w3-padding">Fast Everglades</span>
        <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
    </header>

    <div class="w3-main" style="margin-left: 300px;">
        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <div class="w3-row">
            <div class="project w3-third w3-dark-grey">
                <div class="project-hero">
                    <div class="project-hero-background"
                        data-background="https://s3.amazonaws.com/cvolcy/uploads/2019/03/e9262c3d9263ee9b1243f1b0cf58a857.jpg"></div>
                    <h4 class="project-title">Emotion recognition <i class="fab fa-node-js"></i></h4>
                    <div class="project-description">
                        <p>Real time emotion recognition using client side inference model. The model is using an
                            enhanced version of FER emotion dataset called FER+.</p>
                    </div>
                    <div class="project-footer">
                        <p><a href="/emotion-recognition">Demo Here</a></p>
                    </div>
                </div>
            </div>
            <div class="project w3-third w3-pink">
                <div class="project-hero">
                    <div class="project-hero-background"
                        data-background="https://s3.amazonaws.com/cvolcy/uploads/2019/03/0001279117911.jpg"></div>
                    <h4 class="project-title">GraphQL <i class="fab fa-node-js"></i></h4>
                    <div class="project-description">
                        <p>A simple lambda in nodejs that return the informations about the current date and time of the server.</p>
                    </div>
                    <div class="project-footer">
                        <p><a href="/api/graphql?query={videos(lang:%22fr%22){title%20url}}">Demo Here</a></p>
                    </div>
                </div>
            </div>
            <div class="project w3-third w3-green">
                <div class="project-hero">
                    <div class="project-hero-background"
                        data-background="https://s3.amazonaws.com/cvolcy/uploads/2019/03/aa4c1b80ea25d9d1230967b5347d65602.jpg"></div>
                    <h4 class="project-title">Cowsay <i class="fab fa-python"></i></h4>
                    <div class="project-description">
                        <p>A lambda function in python that render a cow in ASCII art with a message
                            You can update the message by setting the message query string parameter in the url.
                           <br> Exemple : <a href="/api/cowsay?message=Hello%20Boi">Message = 'Hello Boi'</a></p>
                    </div>
                    <div class="project-footer">
                        <p><a href="/api/cowsay?message=Hello%20Boi">Demo Here</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="project w3-third w3-teal">
                <div class="project-hero">
                    <div class="project-hero-background"
                        data-background="https://s3.amazonaws.com/cvolcy/uploads/2019/03/dfc3a12f93431b141d2cf03f0fe5c65d.jpg"></div>
                    <h4 class="project-title">Date <i class="fab fa-node-js"></i></h4>
                    <div class="project-description">
                        <p>A simple lambda in nodejs that return the informations about the current date and time of the server.</p>
                    </div>
                    <div class="project-footer">
                        <p><a href="/api/date">Demo Here</a></p>
                    </div>
                </div>
            </div>
            <div class="project w3-third w3-deep-orange">
                <div class="project-hero">
                    <div class="project-hero-background"
                        data-background="https://s3.amazonaws.com/cvolcy/uploads/2019/03/dwarf_mongoose2.jpg"></div>
                    <h4 class="project-title">Videos <i class="fab fa-node-js"></i></h4>
                    <div class="project-description">
                        <p>A lambda function in nodejs using mongoose the fetch data about the available videos in the database.</p>
                    </div>
                    <div class="project-footer">
                        <p><a href="/api/videos">Demo Here</a></p>
                    </div>
                </div>
            </div>
            <div class="project w3-third w3-hide-small w3-black">
                <div class="project-hero">
                    <div class="project-hero-background"
                        data-background="https://s3.amazonaws.com/cvolcy/uploads/2019/03/383512d91854114fb0d3de5771e57a27.jpg"></div>
                    <h4 class="project-title"></h4>
                    <div class="project-description">
                    </div>
                </div>
            </div>
        </div>
        <!-- About Me -->
        <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
            <h4><b>About Me</b></h4>
            <img src="/Images/avatar.png" alt="Me" class="w3-image w3-padding-32" width="600" height="650">
            <div class="w3-content w3-justify" style="max-width:600px">
                <h4>
                    I'm Clervens Volcy, a programmer from Montréal
                </h4>
                <p>
                    Software Engineer bachelor with a keen interest in solving problems, Web technologies, machine learning and
                    artificial intelligence.
                </p>
                <p>
                    The Fast Everglades project acts as a monorepo for the multiple tests and side projects i'm doing the Azure
                    cloud platform.
                </p>
                <!-- <hr class="w3-opacity">
                <h4 class="w3-padding-16">Technical Skills</h4>
                <p class="w3-wide">Photography</p>
                <div class="w3-white">
                    <div class="w3-container w3-padding-small w3-center w3-grey" style="width:95%">95%</div>
                </div>
                <p><button class="w3-button w3-light-grey w3-padding-large w3-margin-top w3-margin-bottom">Download Resume</button></p> -->
                <hr class="w3-opacity">
            </div>
        </div>
        <!-- Contact -->
        <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="contact">
            <h4><b>Contact</b></h4>
            <div class="w3-content w3-justify" style="max-width:600px">
                <p>You can contact me via <a href="mailto:clervens.volcy@gmail.com">email</a> or <a href="https://www.linkedin.com/in/clervens-volcy-5522a670/">LinkedIn <i class="fab fa-linkedin"></i></a></p>
            </div>
        </div>
    </div>

    <footer class="w3-container w3-padding-32 w3-grey">
        <div class="w3-row-padding">
            <div class="w3-third"></div>
            <div class="w3-third"></div>
            <div class="w3-third"></div>
        </div>
    </footer>
    <!-- Footer -->
    <footer class="w3-container w3-black w3-padding-16"
        style="position: fixed; width: 100%; bottom: 0; margin-left: 300px;">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".project-hero-background").forEach(element => {
                let image = element.getAttribute("data-background");
                if (image) {
                    element.style.backgroundImage = "url(" + image + ")";
                }
            });
        });
    </script>
</body>

</html>