body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size: 16px;
}

.canvas-container-loading {
    position: relative;
}

.inference-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 20% 15px;
}

.inference-spinner {
    margin: auto;
    display: block;
}